:root {
  --angarstr-color-white: #fff;
  --angarstr-color-yellow: #ffc247;
  --angarstr-color-text: #02033b;
  --angarstr-color-black: #000;
  --angarstr-color-blue: #4335de;
  --angarstr-color-box-shadow: rgba(0, 0, 0, 10%);
  --angarstr-color-bg: var(--angarstr-color-white);
  --angarstr-color-overlay: rgba(0, 0, 0, 0.7);
}
